*{
    text-decoration: none;
}
.navbar{
    background-color: aqua;


}
.navdiv{
    display:flex;
    align-items:centre;
    justify-content:space-between ;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    margin-right: 25px;
}
li a:hover{
    background-color: blue;
}
.logo{
    height:50px;
    width: 50px;
    left: 0px;
}
.gallery{
    display:inline-block ;
    border: 1px solid hsl(0,0%,60%);
    margin:5px; 
    flex-direction:row;
}